{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="vh-50" style="background-color: #9de2ff;">
    <div class="container py-5 h-150">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5" style="margin-top: 50px;">
                <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                        <img src="{{ userprofile.profile_picture.url}}"
                            alt="image" class="img-fluid"
                            style="width: 180px; height: 200px; border-radius: 10px;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">Trevin Livele</h5>
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Cyber Security </p>

                        <div class="d-flex pt-1">
                            <a href="{% url 'edit_profile' %}"><button type="button"
                                    class="btn btn-outline-primary me-1 flex-grow-1">Edit
                                    Profile</button></a>
                                    <a href="{% url 'changepassword' %}"><button type="button"
                                        class="btn btn-outline-primary me-1 flex-grow-1">Change
                                        Password</button></a>
                            <a href="{% url 'createpost' %}"><button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Add
                                    Post</button></a>
                            <a href="{% url 'createcontact' %}"><button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Add
                                    Contact</button></a>
                            <a href="#"><button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Add
                                    Buisiness</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
</section>

























































<div class="container px-0 py-4">
    <h4 class="h5"> Filter by category🤞</h4>

    <div class="row">
        <div class="col-sm-12">

            <a class="btn btn-outline-primary pp-filter-button" type="submit" href="#" data-filter="all">All</a>

            <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>
            <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>
            <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>
            <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>

            <br>

            <form action="#" method="GET">
                <div class="input-group">
                    <div class="form-outline">
                        <input type="text" id="form1" class="form-control" placeholder="search" name="keyword" />
                    </div>
                    <button type="submit" class="btn btn-outline-primary" href="#" data-filter="all">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}