<div class="whole">
    <nav class="active" id="nav">
        <ul>
            {% if user.id is  None %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="./posts.html">Posts</a></li>
            <li><a href="./alerts.html">Alerts</a></li>
            <li><a href="./buisinesses.html">Buisiness</a></li>
            <li><a href="./contacts.html">Contacts</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="#">Welcome {{user.username}}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

{% endif %}
        </ul>
        <button class="icon" id="toggle">
            <div class="line line1"></div>
            <div class="line line2"></div>
        </button>
    </nav>
</div>



<section class="vh-50" style="background-color: #9de2ff;">
    <div class="container py-5">
        <h1 class="logo">Neighbourhood</h1>
    </div>
   
</section>