{% extends "base.html" %}

{% block content %}

<section class="blog-section" id="posts">
    <div class="container mt-5">

        <div class="row mt-4">

            <h2 class="text-center mb-5 headings">Businesses Within Your Neighborhood: <br>{{neighbourhood}}
            </h2>

            
            {% for biz in buisiness %}
            <div class="col-md-12 col-lg-3">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">buisiness {{ biz.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Owner: <span class="badge rounded-pill bg-info text-white">{{ user.username }}</span></h6>
                        <!-- <p class="card-text">{{ biz.description }}</p> -->
                        <a href="malto:{{ businesses.email }}" class="card-link">Email: <span class="text-bold text-primary">{{ biz.email }}</span> </a>
                       <br>
                       <a class="card-link">Description: <span class="badge rounded-pill bg-warning text-dark">{{ biz.description }}</span> </a>
                       <a class="card-link">Phone: <span class="badge rounded-pill bg-warning text-dark">{{ biz.phone }}</span> </a>
                       <a class="card-link">location: <span class="badge rounded-pill bg-warning text-dark">{{ biz.location }}</span> </a>
                       <a class="card-link">Neighborhood: <span class="badge rounded-pill bg-warning text-dark">{{ biz.neighbourhood }}</span> </a>
                      

                    </div>
                  </div>
            </div>

            {% empty %}
            <div class="col-md-12">
                <div class="card mb-4 post-card">
                    <div class="card-body text-center">
                        <h6 class="fade-item mb-2 text-danger">No businesses found within your Neighborhood!!</h6>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}