{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="top">
    <h1> Top Posts on Neighbourhood</h1> 
</div>






<div class="container px-0 py-4">
    <div class="pp-category-filter">
        <h4 class="h5"> Filter by category🤞</h4>

        <div class="row">
            <div class="col-sm-12">

                <a class="btn btn-outline-primary pp-filter-button" type="submit" href="#" data-filter="all">All</a>

                <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>
                <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>
                <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>
                <a class="btn btn-outline-primary" href="#" data-filter="all">posts</a>



                <form action="#" method="GET">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="text" id="form1" class="form-control" placeholder="search" name="keyword" />
                        </div>
                        <button type="submit" class="btn btn-outline-primary" href="#" data-filter="all">Search</button>
                    </div>
                </form>
            </div>

        </div>


    </div>

</div>



















<div class="container neighbor-cards">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{post.image.url}}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Title: {{post.title}}</h5>
                    <p class="card-text">Description:{{post.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ post.created_at|date }}</li>
                    <li class="list-group-item">posted by :{{ post.user.username }}</li>
                    <li class="list-group-item">Neighbourhood</li>
                    <li class="list-group-item">category🤞</li>

                </ul>
              
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
