{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="top">
    <h1> Top Posts on Neighbourhood</h1> 
    <h6>go to profile tab to update info(contact,buisiness,posts)</h6>
</div>            




















<div class="container neighbor-cards">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{post.image.url}}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Title: {{post.title}}</h5>
                    <p class="card-text">Description:{{post.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ post.created_at|date }}</li>
                    <li class="list-group-item">posted by: {{user.username }}</li>
                    <li class="list-group-item">category🤞 {{post.category}}</li>

                </ul>
              
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
